<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="panel-heading">
          <h1>Calvin Lai <span class="badge badge-info" data-toggle="collapse" href="#info" aria-controls="info" aria-expanded="false" aria-label="Toggle navigation">!</span></h1>
          <div class="collapse" id="info">
            <h5>Welcome!</h5>
            This site was created to serve as a portfolio for my projects.
            If you have any questions about any of my projects or would like to hire me or have a website built, please see my contact page!
          </div>
        </div>
        <div class="panel-body">
          <h3>Software Developer</h3>
          <hr>
          <h4><span class="badge badge-secondary" routerLink='projects'>projects</span></h4>
          <h4><span class="badge badge-secondary" routerLink='contact'>contact</span></h4>
          <h4><span class="badge badge-secondary" routerLink='about'>about</span></h4>
        </div>
      </div> <!-- panel -->
    </div> <!-- col 12 -->
  </div> <!-- row -->
</div> <!-- container -->
