<body>
  <div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="../../../assets/images/avatar.jpg" alt="" /></span>
							<h1>Calvin Lai</h1>
							<p>Software Developer</p>
						</header>

						<hr />
						<h2>Let's get in touch</h2>
            <form action="https://formspree.io/clai-@hotmail.com" method="POST" >
            <div class="fields">
								<div class="field">
									<input type="text" name="name" id="name" placeholder="Name" />
								</div>
								<div class="field">
									<input type="email" name="email" id="email" placeholder="Email" />
								</div>
								<div class="field">
									<select name="department" id="department">
										<option value="">Subject</option>
										<option value="sales">Work Request</option>
										<option value="tech">General Question</option>
									</select>
								</div>
								<div class="field">
									<textarea name="message" id="message" placeholder="Message" rows="4"></textarea>
								</div>
								<div class="field">
									<input type="checkbox" id="human" name="human" /><label for="human">I'm a human</label>
								</div>
								<div class="field">
									<label>But are you a robot?</label>
									<input type="radio" id="robot_yes" name="robot" /><label for="robot_yes">Yes</label>
									<input type="radio" id="robot_no" name="robot" /><label for="robot_no">No</label>
								</div>
							</div>
							<ul class="actions special">
								<li><input type="submit" value="Submit" class="button"/></li>
							</ul>
						</form>
						<hr />

						<footer>
							<ul class="icons">
                <li><a href="https://github.com/clai94/" class="fab fa-github">Twitter</a></li>
								<li><a href="https://www.linkedin.com/in/calvin-lai-129819132/" class="fab fa-linkedin">Instagram</a></li>
								<li><a href="#" class="fa-facebook">Facebook</a></li>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Calvin Lai</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>
    </body>
