<!--footer start from here-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footer-col">
        <div class="logofooter">@calvinlai</div>
        <p>Hello! I am a recent graduate and excited to start this exciting new career!</p>
        <p><i class="fa fa-map-pin"></i>Based in Burnaby, British Columbia, Canada</p>
        <p><i class="fa fa-envelope"></i> E-mail : clai-@hotmail.com</p>
      </div>
      <div class="col-md-4 col-sm-6 footer-col">
        <h6 class="heading7">quick links</h6>
        <ul class="footer-ul">
          <li><a routerLink=""> home</a></li>
          <li><a routerLink="/about"> about</a></li>
          <li><a routerLink="/projects"> projects</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6 footer-col">
        <h6 class="heading7">social media</h6>
        <ul class="footer-social">
          <li><i id="social-fb" class="fab fa-facebook-f social-icon social facebook" aria-hidden="true"></i></li>
          <li><i id="social-tw" class="fab fa-github social-icon social twitter" aria-hidden="true"></i></li>
          <li><i id="social-li" class="fab fa-linkedin social-icon social linked-in" aria-hidden="true"></i></li>
        </ul>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-12">
      <ul class="bottom_ul">
        <li><a>© 2018</a></li>
        <li><a routerLink="">clai.com</a></li>
        <li><a routerLink="/contact">contact me</a></li>
        <li><a href="#">site map</a></li>
      </ul>
    </div>
  </div>
</div>
