<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="panel-heading">
          <h1>Projects <span class="badge badge-info" data-toggle="collapse" data-target=".multi-collapse" aria-controls="web apps">!</span></h1>
        </div> <!-- panel-heading -->
        <div class="panel-body">
          <h3 data-toggle="collapse" href="#web" aria-controls="web">Web Applications</h3>
          <hr/>
          <div class="card-group collapse multi-collapse" id="web">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div> <!-- card-body -->
            </div> <!-- card -->
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
                </div> <!-- card-body -->
              </div> <!-- card -->
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
              </div> <!-- card-body -->
            </div> <!-- card -->
          </div> <!-- card-group -->
        </div> <!-- panel-body -->
      </div> <!-- panel -->
    </div> <!-- col-12 -->
  </div> <!-- row -->
  <br>
  <div class="row">
    <div class="col-12">
      <h3 data-toggle="collapse" href="#apps" aria-controls="apps">Desktop Applications</h3>
      <hr/>
      <div class="card-group collapse multi-collapse" id="apps">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div> <!-- card-body -->
        </div> <!-- card -->
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div> <!-- card-body -->
          </div> <!-- card -->
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div> <!-- card-body -->
        </div> <!-- card -->
      </div> <!-- card-group -->
    </div> <!-- col-12 -->
  </div> <!-- row -->
</div> <!-- container -->
<br>
