<body>
  <div id="wrapper">
    <section id="main">
      <div class="container">
        <div class="card">
          <div class="card-body">
              <header>
                <span class="avatar"><img src="https://img.icons8.com/nolan/200/000000/membership-card.png" alt="register"></span>
                <h1>Tasks</h1>
              </header>
          </div>
          <div class="card-body">
              <ul class="actions special">
                  <li><input class="button" type="submit" value="+"></li>
                  <li><input class="button" type="submit" value="Edit"></li>
              </ul>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Task</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Deadline</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
            <hr>
            <h2>Need help?</h2>
            <ul class="actions special">
                <li><input class="button" type="submit" value="FAQ"></li>
                <li><input class="button" type="submit" value="How to"></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
          <li>&copy; Calvin Lai</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          <li><a routerLink="/">Home</a> | <a routerLink="todolist">To Do List</a></li>
        </ul>
    </footer>
  </div>
</body>
