<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="panel">
          <div class="panel-heading">
            <h1>Contact <button class="badge badge-info" data-toggle="collapse" href="#info" aria-controls="info" aria-expanded="false" aria-label="Toggle navigation">!</button></h1>
            <div class="collapse" id="info">
                Feel free to ask me anything! If you'd like to collaborate, have any questions about me or my projects, or need a project completed, feel free to ask away!
            </div>
            <hr>
          </div>
          <div class="panel-body">
            <form action="https://formspree.io/clai-@hotmail.com" method="POST">
              <label for="name-field">Name:</label>
              <input type="text" class="form-control" id="name-field" name="name" placeholder="Your name" required>
              <label for="email-field">Email:</label>
              <input type="email" class="form-control" id="email-field" name="_replyto" placeholder="Email address" required>
              <label for="body-field">Message:</label>
              <textarea id="body-field" name="message" class="form-control" placeholder="Type your message here" required></textarea>
              <br>
              <button type="submit" value="Send" class="btn btn-primary btn-block">Submit</button>
              <br>
            </form>
          </div>
        </div> <!-- panel -->
      </div> <!-- col 12 -->
    </div> <!-- row -->
  </div> <!-- container -->
